################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Natural Selection Sim/.vs/Natural Selection Sim/FileContentIndex
