################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Natural Selection Sim/.vs/Natural Selection Sim/FileContentIndex
/source/Natural Selection Sim/.vs/Natural Selection Sim/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/source/Natural Selection Sim/.vs/Natural Selection Sim/CopilotIndices/17.14.1561.44479/CodeChunks.db
/source/Natural Selection Sim/.vs/Natural Selection Sim/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
/source/Natural Selection Sim/.vs/Natural Selection Sim/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
*.db-shm
*.db-wal
