################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/natural-selection-sim/source/Natural Selection Sim/.vs

/source/Natural Selection Sim/.vs
/source/Natural Selection Sim/Natural Selection Sim/bin/Release/net9.0-windows/win-x64
